<html>
  <head>
    <title>Simple Map</title>

    
    <link href="{{ url_for('static', filename='css/map.css') }}" />
    
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuWCAvENcOz861ihyW1EOF8WTJAzKfHfY&callback=initMap&libraries=&v=weekly">
  </script>
  
  </head>
  <body>
    <div class="test">wdjaowdj</div>
    <div id="map"></div>


    <script src="{{ url_for('static', filename='js/map.js') }}">
    </script>
    
    
  </body>
</html>

